<!-- google plus has removed descriptions from preview  -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="g-plus" data-action="share" data-href="<%= spree.product_url(@product) %>" ></div>
