<a href="http://www.reddit.com/submit?url=<%= spree.product_url(@product) %>&title=<%= @product.name %>&text=<%= reddit_text(@product) %>" target="_blank">
  <img src="http://www.reddit.com/static/spreddit1.gif" alt="<%= Spree.t(:submit_to_reddit, scope: [:social, :buttons]) %>" border="0" />
</a>
