<a class="tumblr-share-button" href="https://www.tumblr.com/share"
  data-href="<%= spree.product_url(@product) %>"
>
</a>
<script id="tumblr-js" async src="https://assets.tumblr.com/share-button.js"></script>
