<a class="twitter-share-button"
  href="https://twitter.com/share"
  data-text="<%= twitter_text(@product) %>"
  data-url="/"
  data-hashtags="spree, twitter"
  data-via="vinsol"
  data-related="vinsol">
  <%= Spree.t(:tweet, scope: [:social, :buttons]) %>
</a>

<script id="twitter-wjs" type="text/javascript" async defer src="//platform.twitter.com/widgets.js"></script>
